.git
.github
.env
.env.*
!.env.example
!.env.production.example

backend/.pytest_cache
backend/**/__pycache__
backend/**/*.py[cod]
backend/venv
backend/.venv

frontend/.next
frontend/node_modules
frontend/out
frontend/build

.pytest_cache
htmlcov
node_modules
tests
