
System Requirement Specification
GoShopGhana
2025

 
September 21

 
 
GOSHOP GHANA
Authored by:Dr. Roland Yaw Kudozia & Peter M. Onyekwere
 


System Requirement Specification
Introduction
As the conception of GoShopGhana idea, the team has put together the base scope of the system requirements. This document will highlight the top level view of the requirements and preferences. Detail plan will be created based on the finalized requirements. We will be glad for any feedback on this.
 
“GoShopGhana envisages to be the primary and premier everyday shopping site in Ghana. If successfully implemented can be franchised to other countries.”
The approach is also to start in Greater Accra Region for at least the first 6 – 12 months before moving to other regions based on data.
 
Business Drivers
Considering the current market, a niche has been identified for people to do shopping online. GoShopGhana will provide a versatile shopping platform to allow user to buy and sell. GoShopGhana will run a platform business model as a core model with several business units within. Some units, like Premium and the Advertising business, will be tied to the e-commerce platform. For instance, Premium will help GoShopGhana reward repeat customers, thus enhancing its platform business. This will be helpful especially busy workers who finds it difficult to fit market shopping in their everyday routine. The platform will also promote a form of bubble network where people in the bubble can share shopping or transfer funds.
Problems Identified
·       Current shopping models are product variable instead of price variable. This means that a person might not know exactly how many bananas they are getting for their money. GoShopGhana plans to solve this by providing quantified sales, so that instead of buying ten cedis' worth of tomatoes, the buyer will be able to select how many grams or kilograms they wish to purchase. Thus, the prices can be variable to reflect local abundance.
·       There is little social interaction on the current online markets. GoShopGhana will solve this by creating a bubble model. This will be a form of buyer and seller network where people can borrow and lend money to others in their bubble.
·       Strict verification of users will be enforced to minimize fraud.
Opportunities Identified
a.    GoShopGhana itself can sell products and services.
b.    Open platform for genuine verified users to buy
c.    Open platform for genuine sellers and third-party stores to sell.
d.    Opportunity to create a franchise in other countries.
e.    This platform can also serve as an advertising outlet.
Note: a, b, and e are under Phase 1, c is under Phase 2, and d will be implemented on a later date under Phase 3.
Business Model
The entities in GoShopGhana business model are as illustrated in the diagram below:
GoShopGhana
Sellers
Buyers
User bubbles
Buying and selling
User networks
Register and verified
Bubble management
Products
Register and verified
Actors in the business model:
Buyers:
·       Registration and verification on the platform.
·       Buyers will not need to be extremely verified apart from their verification via email of SMS as authentic user and not bots.
·       Buyers can upgrade to Sellers and sellers can still buy from other sellers.
·       Buyers can attain to premium by the volume and frequency of transactions on the platform.
·       They can view products
·       They can add products into cart and checkout
·       They can rate sellers and products
·       Communicate with other buyers and sellers
Sellers
·       Registration and verification on the platform.
·       Simple initial registration followed to ID verification later.
·       Uploading their products and services
·       Responding to enquiries
·       Communicating with buyers and sellers
·       Sellers can become GoShopGhana product sourcing agent for premium services.
 
GoShopGhana
·       Managing users and verifying identity.
·       Managing the GoShopGhana page.
·       Ensuring security on the platform
 
Functional and System Requirements
The following describes various entities and the functional requirements of the system to support them.
User Management
·       Ability to register users
·       Ability to edit user profile
·       Ability to delete user
·       Ability to block user
 
Product Management
·       Ability to add products
·       Ability to edit product information
·       Ability to delete a product
·       Ability to delete all products
·       Ability to create product categories
·       Ability to add product subcategories
·       Ability to view product statistics
 
Bubble Management
·       Ability to create bubbles
·       Ability to join a bubble group
·       Ability to leave a bubble
·       Ability to delete a bubble
·       Ability to communicate within bubble
·       Ability to transfer funds into wallet between bubble members
Purchase Management
·       Ability to search product
·       Ability add products to cart
·       Ability remove product from cart
·       Ability to make payment on cart
 
Purchase Process
Search item
Add item to cart
Get totals of cost
Checkout to payment
Make payment
Notify Seller
And Buyer
Dispatch Process
Seller receives item list and addresses
 
Seller packages it and dispatch
 
Seller enters details of dispatch for tracking
Notify Buyer
After Sales Process (when buyers receive items)
Buyer confirms receipt of items
Buyer can review Seller or items
Seller enters details of dispatch for tracking
Notify Buyer
Bubble Connection Process
Create bubble
Invite members to bubble
Member accept invite
Member joined to bubble
 
 
Business and System Use Cases
This consists use case diagrams that illustrates the main external entities that will be interacting with the GoShopGhana system together with the different use cases.
The following are samples that will be used. This will be most useful during testing.
Case 1: User wants to buy product
User logs in
User search for item
User adds item to cart
User checkout to payment
Notify user
 
Case 1: Seller wants to sell product
User logs in
User go to add product page
User enters all information about product
User saves edit
 
Technical Requirements
This section is used to list any of the "non-functional" requirements that essentially embody the technical environment that the product needs to operate in and include the technical constraints that it needs to operate under. These technical requirements are critical in determining how the higher-level functional requirements will get decomposed into the more specific system requirements.
The GoShopGhana will run in a web browser from its website.
It’s technology stack that will be used will comprise of the following:
·       PHP
·       HTML
·       CSS
·       JavaScript
·       AJAX
·       MySQL database
·       Third party payment outlet
·       A third party tracking tool
 
System Qualities
It is expected that the system exhibits:
·       Reliability
·       Availability
·       Serviceability
·       Security
·       Scalability
·       Maintainability
Criteria for acceptance of these qualities will be set later.
Constraints and Assumptions
It is assumed that GoShopGhana will be used within Ghana. Users must have internet connections to use the system. Verification of identity will be outside the scope of the system.
Acceptance Criteria
Project will be accepted as complete if functionality meets requirements specified in the outset.
We hope this provides a brief overview of GoShopGhana’s vision.
Please your feedback is required.
Thanks.
GOSHOP TEAM
 